spring:
  application:
    name: myFirstProject

  datasource:
    url: jdbc:mysql://localhost:3306/program_enrollment?serverTimezone=UTC&useSSL=false
    username: enroll_user
    password: sai@9079
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  mail:
    host: smtp.gmail.com
    port: 587
    username: landeomkar9079@gmail.com
    password: aqth teoc goyj xtdk
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true

server:
  port: 8080

app:
  jwt:
    secret: MySuperSecretKeyThatIsLongEnough1234567890!!
    expiration-ms: 3600000
    # 1 hour = 3600000 milliseconds